/* media queries go here */

@media screen and (max-width: 1000px) {
    .pc-tab ul li label {
        float: none;
    }
    /*.nonmobile {
        display: none;
    }
    .mobile {
        display: block;
    }*/
    input {
    	width: 65%;
    	}
    .modal-content h2 {
        font-size: 20px;
    }
	.modal-content {
		padding: 10px;
        width: 60vh; /* Fallback for browsers that do not support Custom Properties */
        width: calc(var(--vh, 1vh) * 60);
        height: 50vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 50);
        box-sizing: border-box;
		}
    .modal-content button, .modal-content .nuploadbutton {
        font-size: 18px;
        width: 100%;
    }
	/*textarea, input {
		box-sizing: border-box;
		padding: 8px 10px;
		}*/
	.inputfield {
		width: 100%;
		}
    }