@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--bg);
}

p > body {
    color: var(--p-text);
}
h1, h2 {
    color: var(--h-text);
    margin: 12px;
}
#textcenter, #textcenter>a, #textcenter>button {
    text-align: center;
}
.newslist {
    background-color: var(--news-bg);
    color: var(--p-text);
    padding: 1px;
    margin: 40px;
    border-radius: 5px;
}
a {
    position:relative;
    text-decoration:none;
    font-weight: bold;
    color: var(--a);
}
a::before {
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    border-radius:4px;
    background-color:var(--a);
    bottom:0;
    left:0;
    transform-origin:right;
    transform:scaleX(0);
    transition:transform .3s ease-in-out;
}
a:hover::before {
    transform-origin:left;
    transform:scaleX(1)
}

a:visited {
    color: var(--a);
}
a:hover {
    color: var(--a-hover);
}
button {
    font-size: 18px;
    padding: 0.6em 1.2em;
    /*border: 1px solid transparent;*/
    border: none;
    border-radius: 6px;
    color: var(--btn-color);
    margin: 5px 0 5px 0;
    background-color: var(--btn-bg);
    transition: transform 150ms ease-out;
    text-shadow: none;
    cursor: pointer;
}

.inputfield {
    /*display:inline-block;*/
    font-size: 18px;
    background-color: var(--news-bg);
    border-radius: 5px;
    padding: 8px 10px;
    margin: auto;
    width: 45%;
    /* color: #008cff; */
}

.inputfield > .nuploadbutton, .inputfield > button {
    border: none;
}
.modal-content > button {
    margin: 0;  
}
.modal > button {
    float: right;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px; 
    color: var(--input-color);
    background-color: var(--input-bg);
    transition-duration: 0.1s;
    /*margin: 5px;*/
    text-shadow: none;
    text-align: left;
    /*float: left;*/
}

button:hover {
    transform: scale(0.97, 0.97);
}
input:hover, textarea:hover {
	background-color: var(--input-bg-hover);
	}
.uploadbtn {
    float: left;
}
.nuploadbutton, .closebtn {
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
    background-color: #6f47cd;
    /*margin: 5px;*/
}

button:active, .nuploadbutton:active, .nuploadbutton:focus, .closebtn:active, .closebtn:focus {
    transform: scale(0.9, 0.9);
}

textarea:active, textarea:focus, input:active, input:focus {
    background-color: var(--input-bg-active);
    border-color: transparent;
}

/* {
    background-color: #0172ce;
    border-color: #0172ce;
    color: #fff;
}*/

.news-block {
    display: block;
}

.about-maker, .about-site {
    background-color: #b1dbfd;
    color: #000;
    padding: 16px 16px;
    margin: 60px;
    border-radius: 5px;
}

/*.footer {
    display: inline-block;
}*/

/* style for modals */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: var(--modal-bg);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
        top:-300px;
        opacity:0;
        } 
    to {
        top:0px;
        opacity:1;
    }
  }
  
  @keyframes animatetop {
    from {
        top:-300px;
        opacity:0;
        } 
    to {
        top:0px;
        opacity:1;
    }
  }
  
  /* The Close Button */
  .close {
    float: right;

  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
/*.mobile {
    display: none;
}
.nonmobile {
    display: block;
}*/