:root {
  --bg: #f3faff;
  --h-text: #000;
  --p-text: #000;
  --p2-text: #000;
  --p2-text-checked: #000;
  --tabs-bg: #eee;
  --tabs-bg2: #dad9d9;
  --modal-bg: #fefefe;
  --tabs-hover: #ddd;
  --tabs-active: #fff;
  --news-bg: #241538;
  --a: #000;
  --a-hover: #505050;
  --btn-bg: #241538;
  --btn-bg-hover: #e2e2e2;
  --btn-color: #fff;
  --input-bg: #f1f1f1;
  --input-bg-hover: #e2e2e2;
  --input-bg-active: #cecece;
  --input-color: #333;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --bg: #222;
  --btn-bg: #333333ea;
  --btn-bg-hover: #555;
  --btn-color: #fff;
  --tabs-bg: #333;
  --tabs-bg2: #333;
  --modal-bg: #444;
  --tabs-hover: #3b3b3b;
  --tabs-active: #444; 
  --text: #eee;
  --p-text: #ddd;
  --p2-text: #ddd;
  --p2-text-checked: #fff;
  --news-bg: #4c5d6c;
  --a: #ddd;
  --a-hover: #bbb; 
  --input-bg: #333;
  --input-bg-hover: #222;
  --input-bg-active: #1d1d1d;
  --input-color: #eee;
}