@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


* {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: #000 1px 0 10px;
}

h1, h2, p {
    color: #fff;
    padding 18px 18px;
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
    transition-duration: 0.1s;
}

.newslist {
    background-color: #999;
    color: #000;
    padding: 8px 18px;
    border-radius: 5px;
}

a:hover {
    color: #eee;
}

button {
    font-size: 18px;
    padding: 8px 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #9999999a;
    transition-duration: 0.1s;
    margin: 10px;
}

.nuploadbutton {
    font-size: 18px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    color: #000;
    background-color: #eee;
    transition-duration: 0.1s;
    margin: 10px;
}

.nuploadbutton:hover {
    background-color: #999;

input, input[type="text" i] {
    font-size: 18px;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #999;
    transition-duration: 0.1s;
    margin: 10px;
}

button:hover, input:hover {
    background-color: #eee;
    color: #000;
    border-color: #eee;
}

.main-block {
    
}
.news-block {
    display: block;
}
.addnews-block {
    
}
.about-news{
    
}
.about{
    
}
.about-site{
    
}
.about-maker{
    
    
}
.marktext{
    
}
.newspaper{
    
}
footer{
    padding: 40px 22.5%;
    display: inline-block;
    text-shadow: none;
}
