@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


* {
    font-family: 'Comfortaa', cursive;
    background-color: #000;
}
body{
    
}

h1, h2, p {
    color: #fff;
}

button {
    padding 10px 18px;
    background-color: #ddd !important;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.footer {
    
}

.main-block {
    color: gray;
    
}
.news-block {
    
    display: block;
}
.addnews-block {
    
    color: lightgray;
}
.about-news{
    
}
.about{
    
}
.about-site{
    
}
.about-maker{
    
    
}
.marktext{
    
}
.newspaper{
    
}
footer{
    
}
