@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


* {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
body{
    background-color: #333;
}

h1, h2, p {
    color: #fff;
    padding 8px 18px;
}

a, a:visited {
    color: #fff;
    text-decoration: underline;
    transition-duration: 0.1s;
}

a:hover {
    color: #bcbcbc;
}

button, input {
    font-size: 18px;
    padding: 8px 18px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #999;
    transition-duration: 0.1s;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

button:hover, input:hover {
    background-color: #eee;
    color: #000;
    border-color: #eee;
}

.footer {
    
}

.main-block {
    color: gray;
    
}
.news-block {
    
    display: block;
}
.addnews-block {
    
}
.about-news{
    
}
.about{
    
}
.about-site{
    
}
.about-maker{
    
    
}
.marktext{
    
}
.newspaper{
    
}
footer{
    
}
